{% extends "base.html" %} {% block title %}Log in{% endblock %}

{% block content%}
<form class="pb-2 ps-2 border border-primary  border-3 rounded" method="post">
    <h3 class="text-center" >Log In</h3>
    <div>
        <label for="email">Email Address</label>
        <input type="email" id="email" name="email" placeholder="Enter E-mail">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter Password">
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Log in</button>
</form>
{% endblock %}