{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content%}
<h1 class="display-2 text-center bg-primary rounded">
    {{user.first_name}}
</h1>
<p class="bg-secondary rounded">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero eveniet consequuntur rerum itaque suscipit quam accusantium inventore nemo maxime, 
    nihil ab eius soluta officiis harum deleniti consectetur. Labore pariatur, repellendus aspernatur, doloremque, iure minus sequi modi repellat quo voluptas voluptates.
</p>
{% endblock %} 